<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>DeskOS behöver åtkomst till lokala nätverk för att kunna ladda webbsidor.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_services._dns-sd._udp</string>
	</array>
	<key>NSPrivacyTracking</key>
	<false/>
</dict>
</plist>
